

QDialog{
	border-radius: 50px;
	
}
QDialog QLabel#contentInfo{
	
	 font: 25px black;
	 color:#000000;
	 font-weight: 20px;
	 font-weight: 500;
}
QDialog QLabel#Icon{
	 border-radius: 10px;
	 padding: 10px;
}
QPushButton {
	border: 0px;
	background: trans;
}